<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="icon" type="image/x-icon" href="../static/css/images/rewards.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename='css/dashboard.css') }}">



  <!-- <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script> -->
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <!-- font awesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
</head>

<body >

  <div class="container-fluid" >
    <!-- MENU SIDEBAR For Desktop-->
    <div class="row">
      <div class=" col-lg-2 d-lg-block d-none z-1 "
        style="background-color: #0e223d; position: relative; height: 100vh;">
        <div class="logo" style="background-color: #0e223d;">
          <h4 style="color: antiquewhite;" class="text-light text-center mt-2">Rewards Page</h4>
        </div>
        <div class="m">
          <div class="account2">
            <div class="image img-cir img-120">
              <img src="{{ url_for ('static', filename='avatar-big-01.png') }}" style="height: 120px; width: 120px;">



            </div>
            <h3 class="name text-light">{{naam}}</h3>
            <!-- <h4 class="name text-light">{{mail}}</h4> -->
            <a href="{{url_for('logout')}}" class=" text-light text-decoration-none" style="background-color: #0e223d; border:none;">Sign
              out
            </a>

          </div>
          <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
              <li class="" id="a1">

                <a onclick="dashboard()" class=" text-decoration-none text-light" id="dash">
                  <i class="bi bi-speedometer2  " style="font-size: 20px;">&nbsp;&nbsp;</i>Dashboard</a>

              </li>


              {% if carts=='N' %}
              <li id="a2">
                <a onclick="gift()" class=" text-decoration-none text-light" id="gift">
                  <i class="bi bi-gift" style="font-size: 20px;">&nbsp;&nbsp;</i>Gift</a>
              </li>
              {%endif%}
              {% if carts=='C' %}

              <li id="a3">
                <a onclick="cart()" class=" text-decoration-none text-light" id="cart">
                  <i class="bi bi-cart" style="font-size: 20px;">&nbsp;&nbsp;</i>Cart</a>

              </li>

              {%endif%}
              {% if carts=='A' %}
              <li id="a4">
                <a onclick="shipment()" class="  text-decoration-none text-light" id="ship">
                  <i class="bi bi-truck" style="font-size: 20px;">&nbsp;&nbsp;</i>Order Summary</a>

              </li>
              {%endif%}
            </ul>
          </nav>
        </div>
      </div>
      <!-- END MENU SIDEBAR-->
      <div class="col-lg-10">

        <!-- HEADER DESKTOP-->
        <div class="theme row ">
          <div class="col-12 py-3">
            <h4 class="mx-auto text-center text-light">Gift Cycle - {{giftcycledecr}}
              <span class="float-end"><button class="btn btn-outline-light ms-2 d-block d-lg-none"
                  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i
                    class="bi bi-list"></i></button></span>
              <span class="float-end me-2"><i class="bi bi-gift"></i></span>
            </h4>
          </div>
        </div>
        <!-- offcanvas for mobile view -->

        <div class="offcanvas offcanvas-end d-block  d-lg-none" tabindex="-1" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel" style="background-color: #0e223d;">
          <div class="offcanvas-header">
            <div class="logo" style="background-color: #0e223d;">
              <h4 style="color: antiquewhite;" class="text-light">Rewards Page</h4>
            </div>
            <button type="button" class="btn-close text-bg-light" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">


            <div class="menu-sidebar2__content js-scrollbar1">
              <div class="account2">
                <div class="image img-cir img-120">
                  <img src="{{ url_for ('static', filename='avatar-big-01.png') }}"
                    style="height: 120px; width: 120px;">


                </div>
                <h4 class="name text-light">{{mail}}</h4>
                <form action="{{url_for('back')}}" method="post">
                  <button type="submit" class=" text-light" style="background-color: #0e223d; border: none;">Sign out
                  </button>
                </form>
              </div>
              <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                  <li class="active" id="a11">

                    <a onclick="dashboard()" class=" text-decoration-none text-light" id="dash1">
                      <i class="bi bi-speedometer2  " style="font-size: 20px;">&nbsp;&nbsp;</i>Dashboard</a>

                  </li>


                  {% if carts=='N' %}
                  <li id="a12">
                    <a onclick="gift()" class=" text-light text-decoration-none" id="gift1">
                      <i class="bi bi-gift" style="font-size: 20px;">&nbsp;&nbsp;</i>Gift</a>
                  </li>
                  {%endif%}
                  {% if carts=='C' %}
                  <li id="a13">
                    <a onclick="cart()" class="text-light text-decoration-none" id="cart1">
                      <i class="bi bi-cart" style="font-size: 20px;">&nbsp;&nbsp;</i>Cart</a>

                  </li>
                  {%endif%}
                  {% if carts=='A' %}
                  <li id="a14">
                    <a onclick="shipment()" class="  text-decoration-none text-light" id="ship1">
                      <i class="bi bi-truck" style="font-size: 20px;">&nbsp;&nbsp;</i>Order Summary</a>

                  </li>
                  {%endif%}

                </ul>
              </nav>
            </div>

          </div>
        </div>
        <!-- end offcanvas for mobile view -->

        <!-- Dashboard-->
        <div id="d_board" class="row">


          <!-- 
                <section class="statistic " style="padding-top: 57px;">
                    <div class="px-4 py-0 mt-5">
                        <div class="container-fluid">
                            <div class="row" style="">
                                <div class="col-md-12 col-lg-12 ">
                                    <div class="statistic__item bg-primary-subtle">
                                       
                                        <span class="text-dark"><h3>Gift Cycle Discription: </h3></span>
                                        <div class="float-end" style="font-size: 50px ;">
                                            <i class="bi bi-gift"></i>
                                        </div>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                    </div>
                </section> -->
          <div class="col-12 mt-2 mb-2">
            <div class="px-2 py-0 mt-2">
              <div class="card  mx-3 roadmap">
                {%if carts=='O'or carts=='S' or carts=='D'or carts=='U'%}
                {%for (OrderId ,OrderNumber,OrderDate ,RecipientId,GiftCycleId
                ,ShippingAddress,ShippingCity,ShippingState,ShippingZIP,ShippingCountry ,DeliveryURL
                ,DockerNumber,DockerDateUpdated,ShippingDate,CreateUserId,UpdateUserId ,CreateDate ,UpdateDate) in
                orders: %}
               
                <div class="row mt-2 px-3">
                  <div class="col-4">
                    <h5>ORDER No :{{OrderNumber}} <span class="text-primary font-weight-bold"></span></h5>
                  </div>
                  <div class="col-4 ">
                    {%if( carts=='O'or carts=='S')%}
                    <p class="mb-0">Expected Arrival : <span class="text-dark"></span></p>
                    {%endif%}

                  </div>
                  {%if(DeliveryURL)!=None%}
                  <div class="col-4">
                    <a class="text-primary " href="{{DeliveryURL}}" style="  text-decoration: none;">Track Shipment</a>
                  </div>
                  {%endif%}
                </div>
               
                {%endfor%}
                {%endif%}
                
                <!-- Add class 'active' to progress -->
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <ul id="progressbar" class="text-center">
                      <li class="
                                            {% if (carts!='N') %}
                                            active
                                            {%endif%}
                                             step0"></li>
                      <li class="   
                                            {% if (carts=='A') or (carts=='O')or(carts=='S')or(carts=='D')or(carts=='U') %}
                                            active
                                            {%endif%}
                                            step0"></li>
                      <li class="
                                            {% if (carts=='O')or(carts=='S')or(carts=='D')or(carts=='U') %}
                                            active
                                            {%endif%}
                                             step0"></li>
                                             
                      <li class="
                      {% if (carts=='S')or(carts=='D')or(carts=='U') %}
                      active
                      {%endif%}
                       step0"></li>
                      <li class="
                      {% if(carts=='D') %}
                      active
                      {%endif%}
                      {% if(carts=='U') %}
                      deactive
                      {%endif%}
                       step0"></li>

                    </ul>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class=" col-2 ">
                    <div class="text-center">
                      <img src="{{ url_for ('static', filename='shopping-cart-ic.png') }}"
                        style="height: 60px; width: 60px;">
                      <p>Add to Cart</p>
                    </div>
                  </div>
                  <div class=" col-2">
                    <div class="text-center">
                      <img src="{{ url_for ('static', filename='loc.png') }}" style="height: 60px; width: 60px;">

                      <p> Shipping Details</p>
                    </div>
                  </div>
                  <div class=" col-2">
                    <div class="text-center">
                      <img src="../static/css/images/Shipped.png" style="height: 60px; width: 60px;">
                      <p>Order Placed</p>
                    </div>
                  </div>
                  <div class=" col-2">
                    <div class="text-center">
                      <img src="../static/css/images/OrderShipped.png" style="height: 60px; width: 60px;">
                      <p>Order Shipped</p>
                    </div>
                  </div>
                  <div class=" col-2">
                    <div class="text-center">
                      <img src="../static/css/images/orderDelivered.png" style="height: 60px; width: 60px;">
                      {%if((carts=='U'))%}
                      <p>Order Undelivered</p>
                      {%else%}
                      <p>Order Delivered</p>
                      {%endif%}
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          {%with messages = get_flashed_messages()%}

          {%if messages%}

          {% for message in messages %}

          <div class="alert alert-success alert-dismissable" role="alert">

              <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">

                  <span aria-hidden="true">&times;</span>

              </button>
              {{message}}


          </div>

          {%endfor%}
          {%endif%}
          {%endwith%}
 <!-- for my orders  -->
          <div class="col-12 mt-2 mb-2">
            <div class="px-2 py-0 mt-2">

              <div class="card  mx-3 roadmap">
                {%if carts=='O'or carts=='S' or carts=='D' or carts=='U'%}
                {%for (OrderId ,OrderNumber,OrderDate ,RecipientId,GiftCycleId
                ,ShippingAddress,ShippingCity,ShippingState,ShippingZIP,ShippingCountry ,DeliveryURL
                ,DockerNumber,DockerDateUpdated,ShippingDate,CreateUserId,UpdateUserId ,CreateDate ,UpdateDate) in
                orders: %}
                <div class="row mt-2 px-3">
                  <div class="col-6">
                    <h4>My Orders</h4>
                  </div>
                 {%if carts=='U'%}
                 <div class="col-6">
                  {%for (x,) in reason%}

                  <h5 class="text-danger">Your Order is Undelivered due to : {{x}}</h5>
                  {%endfor%}
                </div>
                 {%endif%}
                </div>
                {%endfor%}
                {%endif%}
                
                <!-- Add class 'active' to progress -->
                {%if carts=='O'or carts=='S' or carts=='D' or carts=='U'%}
                <div class="row ps-2">
                  <div class="col-6 pt-5 ">
                    <h5>{{naam}}</h5>
                    <p>{{phno}}</p>
                    {%for (OrderId ,OrderNumber,OrderDate ,RecipientId,GiftCycleId
                    ,ShippingAddress,ShippingCity,ShippingState,ShippingZIP,ShippingCountry ,DeliveryURL
                    ,DockerNumber,DockerDateUpdated,ShippingDate,CreateUserId,UpdateUserId ,CreateDate ,UpdateDate) in
                    orders: %}
                    <p>{{ShippingAddress}} {{ShippingCity}} {{ShippingZIP}} {{ShippingState}} {{ShippingCountry}}</p>
  
                    {%endfor%}
                  </div>
                
                  <div class="col-6 pt-5">
                    <div class="row">
                      <div class="col-6">
                        <img src="{{ url_for ('static', filename='gift.png') }}" style="height: 80px; width: 80px;">
  
                      </div>
                      <div class="col-6 pt-4">
                        <h4>Gift Item 1</h4>
                      </div>
                    </div>
                    <hr>
                  
                  
                  </div>
                 
                </div>
                {%endif%}

              </div>


            </div>
          </div>
       <!-- end for my orders -->
        </div>

        <!-- END dashboard-->
        <!-- Gift -->
        <div id="gifts" class="row mx-3 addc">
          <div class="col-12 mt-5 mb-5  addc ">
            <div class="px-2 py-0 mt-2 mx-2">
              <div class="row mt-2 pt-2">
                <!-- <h4>Add to Cart</h4> -->
              </div>
              <div class="row mt-2 pt-2">
                <div class="col-6 text-center">
                  <img src="{{ url_for ('static', filename='gift.png') }}" style="height: 120px; width: 120px;">

                </div>
                <div class="col-6 pt-5">
                  <h3>Gift Item 1</h3>
                  <hr>
                  <!-- <div class="row">
                                    <div class="col-8">
                                        <h4>Sub Total</h4>
                                    </div>
                                    <div class="col-4">
                                        <p>1 Item</p>
                                    </div>
                                </div> -->
                  <div class="col float-end pb-3">
                    <form action="{{url_for('addcart')}}" method="post">
                      <input type="email" name="vlan" value="{{mail}}" hidden>
                      <button type="submit" class="btn btn-primary" name="addcart">Add to Cart</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- end Gift-->
        <!-- add to cart-->
        <div id="addcart" class="row mx-3 addc">

          <div class="col-12 mt-5 mb-5  addc ">
            <div class="px-2 py-0 mt-2 mx-2">
              <div class="row mt-2 pt-2">
                <!-- <h4>Add to Cart</h4> -->
              </div>
              <div class="row mt-2 pt-2">
                <div class="col-6">
                  <img src="{{ url_for ('static', filename='gift.png') }}" style="height: 120px; width: 120px;">

                </div>
                <div class="col-6 pt-5">
                  <h3>Gift Item 1</h3>
                  <hr>
                  <div class="row">
                    <div class="col-8">
                      <h4>Sub Total</h4>
                    </div>
                    <div class="col-4">
                      <p>1 Item</p>
                    </div>
                  </div>
                  <div class="col float-end pb-3">
                    <form action="{{url_for('addcart')}}" method="post">
                      <input type="email" name="vlan" value="{{mail}}" hidden>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Add shipment details
                      </button>
                    </form>
                  </div>
                </div>
              </div>

            </div>

          </div>



        </div>
        <!-- modal for shipment details -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content roadm">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Shipment Details Here</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3" action="{{url_for('confirm')}}" method="post">
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Name</label>
                    <input type="text" class="form-control"  name="name"  pattern="^[A-Za-z -]+$" title="Name Should BE In Characters" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Phone no</label>
                    <input type="text" class="form-control"  name="phno" minlength="10"
                      maxlength="10" pattern="[0-9]{10}" title="Phone no must contains digits only" placeholder="+91" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" inputmode="numeric" class="form-control" id="pincode" name="pincode" pattern="[0-9]{6}"title="Pin Code Must Be In Numeric" minlength="6" maxlength="6" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="country" pattern="^[A-Za-z -]+$" title="Special characteres are not allowed " required >
                  </div>
                  <div class="col-md-6">
                    <label for="inputState" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="state" pattern="^[A-Za-z -]+$"  title="Special characteres are not allowed only Spaces are allowed" required  >
                    <!-- <select id="inputState" class="form-select" name="state">
                      <option value="">Select state</option>
                      <option value="AN">Andaman and Nicobar Islands</option>
                      <option value="AP">Andhra Pradesh</option>
                      <option value="AR">Arunachal Pradesh</option>
                      <option value="AS">Assam</option>
                      <option value="BR">Bihar</option>
                      <option value="CH">Chandigarh</option>
                      <option value="CT">Chhattisgarh</option>
                      <option value="DN">Dadra and Nagar Haveli</option>
                      <option value="DD">Daman and Diu</option>
                      <option value="DL">Delhi</option>
                      <option value="GA">Goa</option>
                      <option value="GJ">Gujarat</option>
                      <option value="HR">Haryana</option>
                      <option value="HP">Himachal Pradesh</option>
                      <option value="JK">Jammu and Kashmir</option>
                      <option value="JH">Jharkhand</option>
                      <option value="KA">Karnataka</option>
                      <option value="KL">Kerala</option>
                      <option value="LA">Ladakh</option>
                      <option value="LD">Lakshadweep</option>
                      <option value="MP">Madhya Pradesh</option>
                      <option value="MH">Maharashtra</option>
                      <option value="MN">Manipur</option>
                      <option value="ML">Meghalaya</option>
                      <option value="MZ">Mizoram</option>
                      <option value="NL">Nagaland</option>
                      <option value="OR">Odisha</option>
                      <option value="PY">Puducherry</option>
                      <option value="PB">Punjab</option>
                      <option value="RJ">Rajasthan</option>
                      <option value="SK">Sikkim</option>
                      <option value="TN">Tamil Nadu</option>
                      <option value="TG">Telangana</option>
                      <option value="TR">Tripura</option>
                      <option value="UP">Uttar Pradesh</option>
                      <option value="UT">Uttarakhand</option>
                      <option value="WB">West Bengal</option>

                    </select> -->
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">District</label>
                    <input type="text" class="form-control" id="city" name="city" pattern="^[A-Za-z -]+$" title="Special characteres are not allowed " required >
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address"  pattern="[a-zA-Z0-9\s]+" title="Special characteres are not allowed only Spaces are allowed" placeholder="1234 Main St"
                      required>
                  </div>

                
                
            



                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm Details</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <!-- end  -->



        <!-- end add to cart-->

        <!-- shipment-->
        <div id="shipment" class="row mx-3 addc">

          <div class="col-12 mt-5 mb-5  addc ">
            <div class="px-2 py-0 mt-2 mx-2">
              <div class="row mt-2 pt-2">
                <div class="col-8">
                  <h4>Order Summary</h4>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal"
                    data-bs-target="#staticBackdropone">
                    Edit Details
                  </button>
                </div>

              </div>
              <div class="row mt-2 pt-2">
                <div class="col-6 pt-5">
                  <h5>{{naam}}</h5>
                  <p>{{phno}}</p>
                  {%for (OrderId ,OrderNumber,OrderDate ,RecipientId,GiftCycleId
                  ,ShippingAddress,ShippingCity,ShippingState,ShippingZIP,ShippingCountry ,DeliveryURL
                  ,DockerNumber,DockerDateUpdated,ShippingDate,CreateUserId,UpdateUserId ,CreateDate ,UpdateDate) in
                  orders: %}
                  <p>{{ShippingAddress}} {{ShippingCity}} {{ShippingZIP}} {{ShippingState}} {{ShippingCountry}}</p>

                  {%endfor%}
                </div>
                <div class="col-6 pt-5">
                  <div class="row">
                    <div class="col-6">
                      <img src="{{ url_for ('static', filename='gift.png') }}" style="height: 80px; width: 80px;">

                    </div>
                    <div class="col-6 pt-4">
                      <h4>Gift Item 1</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-8">
                      <h4>Sub Total</h4>
                    </div>
                    <div class="col-4">
                      <p>1 Item</p>
                    </div>
                  </div>
                  <div class="col float-end pb-3">
                    <form action="{{url_for('placeorder')}}" method="post">

                      <button type="submit" class="btn btn-primary">
                        Place Order
                      </button>
                    </form>
                  </div>
                </div>
              </div>

            </div>

          </div>



        </div>

        <!-- modal for edit shipment details -->
        <div class="modal fade " id="staticBackdropone" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content roadm">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Shipment Details Here</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3" action="{{url_for('save')}}" method="post">
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Name</label>
                    <input type="text" class="form-control"  name="name" title="Name Should BE In Characters" pattern="^[A-Za-z -]+$" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Phone no</label>
                    <input type="text" class="form-control"  name="phno" minlength="10"
                      maxlength="10" pattern="[0-9]{10}" title="Phone no must contains digits only" placeholder="+91" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" inputmode="numeric" class="form-control" id="pincodes" name="pincode" pattern="[0-9]{6}" title="Pin code must be in digits" minlength="6" maxlength="6" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">Country</label>
                    <input type="text" class="form-control" id="countrys" name="country" pattern="^[A-Za-z -]+$" title="Special characteres are not allowed "  required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputState" class="form-label">State</label>
                    <input type="text" class="form-control" id="states" name="state" pattern="^[A-Za-z -]+$" title="Special characteres are not allowed only Spaces are allowed" required>
                    <!-- <select id="inputState" class="form-select" name="state">
                      <option value="">Select state</option>
                      <option value="AN">Andaman and Nicobar Islands</option>
                      <option value="AP">Andhra Pradesh</option>
                      <option value="AR">Arunachal Pradesh</option>
                      <option value="AS">Assam</option>
                      <option value="BR">Bihar</option>
                      <option value="CH">Chandigarh</option>
                      <option value="CT">Chhattisgarh</option>
                      <option value="DN">Dadra and Nagar Haveli</option>
                      <option value="DD">Daman and Diu</option>
                      <option value="DL">Delhi</option>
                      <option value="GA">Goa</option>
                      <option value="GJ">Gujarat</option>
                      <option value="HR">Haryana</option>
                      <option value="HP">Himachal Pradesh</option>
                      <option value="JK">Jammu and Kashmir</option>
                      <option value="JH">Jharkhand</option>
                      <option value="KA">Karnataka</option>
                      <option value="KL">Kerala</option>
                      <option value="LA">Ladakh</option>
                      <option value="LD">Lakshadweep</option>
                      <option value="MP">Madhya Pradesh</option>
                      <option value="MH">Maharashtra</option>
                      <option value="MN">Manipur</option>
                      <option value="ML">Meghalaya</option>
                      <option value="MZ">Mizoram</option>
                      <option value="NL">Nagaland</option>
                      <option value="OR">Odisha</option>
                      <option value="PY">Puducherry</option>
                      <option value="PB">Punjab</option>
                      <option value="RJ">Rajasthan</option>
                      <option value="SK">Sikkim</option>
                      <option value="TN">Tamil Nadu</option>
                      <option value="TG">Telangana</option>
                      <option value="TR">Tripura</option>
                      <option value="UP">Uttar Pradesh</option>
                      <option value="UT">Uttarakhand</option>
                      <option value="WB">West Bengal</option>

                    </select> -->
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">District</label>
                    <input type="text" class="form-control" id="citys" name="city" pattern="^[A-Za-z -]+$" title="Special characteres are not allowed " required>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St"  pattern="[a-zA-Z0-9\s]+" title="Special characteres are not allowed only Spaces are allowed"
                      required>
                  </div>



                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <!-- end  -->

        <!-- END shipment-->



      </div>

    </div>
    <footer class=" position-fixed bottom-0" style="width: 100%;">
      <div class="row pb-2 text-dark mt-3" style="background-color: #f1f1f1;">
        <div class="col-12 text-center"><samp><i>
              Copyright © 2023 Datanutts IT Solutions. All Rights Reserved.</i></samp>
        </div>
      </div>
    </footer>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
  <script>
    $(document).ready(dashboard());


    function dashboard() {
      document.getElementById("d_board").style.display = "block";
      document.getElementById("addcart").style.display = "none";
      document.getElementById("shipment").style.display = "none";
      document.getElementById("gifts").style.display = "none";

      var dom = document.getElementById('a1');
      dom.style.backgroundImage = 'linear-gradient(45deg, #0e223d,#cfe2ff)';
      var doms = document.getElementById('a11');
      doms.style.backgroundImage = 'linear-gradient(45deg, #0e223d,#cfe2ff)';
      $("#a2").css("background","#0e223d");
      $("#a3").css("background","#0e223d");
      $("#a4").css("background","#0e223d");
      $("#a12").css("background","#0e223d");
      $("#a13").css("background","#0e223d");
      $("#a14").css("background","#0e223d");
      $("#a1").css("color","white");
      $("#a11").css("color","white");



    }
    function gift() {
      document.getElementById("gifts").style.display = "block";
      document.getElementById("d_board").style.display = "none";
      document.getElementById("addcart").style.display = "none";
      document.getElementById("shipment").style.display = "none";
      var dom = document.getElementById('a2');
      dom.style.backgroundImage = 'linear-gradient(45deg,  #0e223d,#cfe2ff)';
      var doms = document.getElementById('a12');
      doms.style.backgroundImage = 'linear-gradient(45deg,  #0e223d,#cfe2ff)';
      $("#a1").css("background","#0e223d");
      $("#a3").css("background","#0e223d");
      $("#a4").css("background","#0e223d");
      $("#a11").css("background","#0e223d");
      $("#a13").css("background","#0e223d");
      $("#a14").css("background","#0e223d");
      $("#a2").css("color","white");
      $("#a12").css("color","white");



    }
    function cart() {
      document.getElementById("addcart").style.display = "block";
      document.getElementById("d_board").style.display = "none";
      document.getElementById("shipment").style.display = "none";
      document.getElementById("gifts").style.display = "none";

      var dom = document.getElementById('a3');
      dom.style.backgroundImage = 'linear-gradient(45deg, #0e223d,#cfe2ff)';
      var doms = document.getElementById('a13');
      doms.style.backgroundImage = 'linear-gradient(45deg, #0e223d,#cfe2ff)';
      $("#a2").css("background","#0e223d");
      $("#a1").css("background","#0e223d");
      $("#a4").css("background","#0e223d");
      $("#a12").css("background","#0e223d");
      $("#a11").css("background","#0e223d");
      $("#a14").css("background","#0e223d");


    }

    function shipment() {
      document.getElementById("shipment").style.display = "block";
      document.getElementById("d_board").style.display = "none";
      document.getElementById("addcart").style.display = "none";
      document.getElementById("gifts").style.display = "none";

      var dom = document.getElementById('a4');
      dom.style.backgroundImage = 'linear-gradient(45deg, #0e223d,#cfe2ff)';
      var doms = document.getElementById('a14');
      doms.style.backgroundImage = 'linear-gradient(45deg,  #0e223d,#cfe2ff)';
      $("#a2").css("background","#0e223d");
      $("#a3").css("background","#0e223d");
      $("#a1").css("background","#0e223d");
      $("#a5").css("background","#0e223d");
      $("#a12").css("background","#0e223d");
      $("#a13").css("background","#0e223d");
      $("#a11").css("background","#0e223d");
      $("#a15").css("background","#0e223d");

    }
  </script>
  <script type="text/javascript"> 
    $(document).ready(function(){ 
        $('#pincode').on('blur', function(){ 
            var pincode = $(this).val(); 
            $.ajax({ 
                url: 'https://api.postalpincode.in/pincode/'+pincode, 
                success: function(data){ 
                    var address = data[0].PostOffice[0].Name; 
                    var city = data[0].PostOffice[0].District; 
                    var state = data[0].PostOffice[0].State; 
                    var country=data[0].PostOffice[0].Country;
                    $('#address').val(address); 
                    $('#city').val(city); 
                    $('#state').val(state); 
                    $('#country').val(country); 
                     
                } 
            }); 
        }); 
    }); 
    </script> 

<script type="text/javascript"> 
  $(document).ready(function(){ 
      $('#pincodes').on('blur', function(){ 
          var pincode = $(this).val(); 
          $.ajax({ 
              url: 'https://api.postalpincode.in/pincode/'+pincode, 
              success: function(data){ 
                  var address = data[0].PostOffice[0].Name; 
                  var city = data[0].PostOffice[0].District; 
                  var state = data[0].PostOffice[0].State; 
                  var country=data[0].PostOffice[0].Country;
                  $('#address').val(address); 
                  $('#citys').val(city); 
                  $('#states').val(state); 
                  $('#countrys').val(country); 
                   
              } 
          }); 
      }); 
  }); 
  </script> 
</body>

</html>
